<!-- <div>
  <div *ngFor="let bkv of blocks | keyvalue">
    <button (click)="onRemoveClick(bkv.key)">Remove</button>
    <app-block [block]="bkv.value"></app-block>
  </div>
</div> -->
<div fxLayout="row wrap" fxFlexAlign="strech center" fxLayoutGap="1em">
  <ng-container *ngFor="let block of blockMap | keyvalue">
    <app-block [block]="block.value" *ngIf="block.value !== undefined">
      <!-- <button (click)="onRemoveClick(block.key)">Remove</button> -->
    </app-block>
  </ng-container>
</div>
<!-- <button mat-button (click)="onCreateClick()">Create a New Channel</button> -->
